<a href="https://colab.research.google.com/github/nirav3/data690_nirav/blob/main/assignments/assignment_3/assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment #3  
  * Professor: Dr. Jay Wang  
  * Student: Nirav Pancholi  
  * Date: 09/18/2021

In [3]:
## import libraries
from random import randint
from random import seed

## Problem #1
> Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number)

```
5 1 5 6 2 7 8 6 4 2 
2 3 7 0 6 9 2 4 2 8 
0 0 8 6 4 1 7 2 7 6 
0 1 9 0 0 8 5 8 6 8 
4 1 0 5 5 7 4 6 4 4 
6 0 2 0 1 9 8 2 3 9 
4 0 4 8 1 7 6 6 2 1 
1 7 6 8 5 4 1 9 6 7 
6 4 7 9 9 3 8 2 6 1 
9 0 6 4 0 1 0 6 9 9 
```

In [73]:
# Configurable Row and Column values
row, col = (10,10)
matrix = []

## Seed to hold randomness of numbers
seed(1)

for i in range(row):
  row_array = []
  
  for j in range(col):
    random_num = randint(0,9)
    row_array.append(random_num)
    
    if (j == col-1):
      print(random_num, end='')
    else:
      print(random_num, end=' ')

  matrix.append(row_array)
  print("")

2 9 1 4 1 7 7 7 6 3
1 7 0 6 6 9 0 7 4 3
9 1 5 0 0 0 8 0 6 3
6 0 8 3 7 7 8 3 5 3
3 7 4 0 6 8 1 2 4 1
5 8 6 8 3 4 4 9 7 8
6 9 0 7 3 6 6 2 5 8
5 1 7 8 1 2 8 6 5 7
0 7 0 4 9 9 9 6 2 2
8 3 0 3 8 8 3 6 8 5

## Problem #2
> If the random number is an odd number, print "@" instead. like the following:

```
@ @ 0 2 6 @ 8 8 0 0 
@ 4 @ 4 4 @ 2 @ 2 2 
@ 6 8 @ @ @ 0 @ 0 @ 
2 6 @ 0 @ 2 @ @ 0 @ 
8 4 @ @ @ 0 @ @ 6 @ 
@ @ 4 6 @ @ @ 2 @ 2 
@ @ @ @ 4 @ @ 2 2 0 
@ 6 @ 0 0 8 @ 2 0 @ 
8 8 @ @ @ 0 0 @ 4 6 
@ 2 2 6 8 2 @ @ @ 6
```

In [74]:
## This function prints given string instead of ODD numbers
def replace_odd_numbers(number, stringToBeReplacedWith):
  if ((number%2) != 0):
    print(stringToBeReplacedWith, end=' ')
  else:
    print(matrix[i][j], end=' ')

In [75]:
## configurable string which can be changed with ODD numbers
stringToBeReplacedWith = "@"

for i in range(row):
  print("")
  for j in range(col):
    replace_odd_numbers(matrix[i][j], stringToBeReplacedWith)

2 @ @ 4 @ @ @ @ 6 @
@ @ 0 6 6 @ 0 @ 4 @
@ @ @ 0 0 0 8 0 6 @
6 0 8 @ @ @ 8 @ @ @
@ @ 4 0 6 8 @ 2 4 @
@ 8 6 8 @ 4 4 @ @ 8
6 @ 0 @ @ 6 6 2 @ 8
@ @ @ 8 @ 2 8 6 @ @
0 @ 0 4 @ @ @ 6 2 2
8 @ 0 @ 8 8 @ 6 8 @

## Problem #3
> Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers)

```
7 6 5 8 8 0 7 6 0 1 * 48 
8 5 7 9 8 0 9 3 0 1 * 50 
4 0 3 5 3 9 0 8 3 9 * 44 
3 5 5 3 8 3 4 3 2 2 * 38 
7 7 4 1 2 7 2 3 0 8 * 41 
3 9 7 7 0 9 4 0 6 5 * 50 
1 9 7 1 3 0 0 1 4 5 * 31 
4 4 0 6 7 4 5 6 9 3 * 48 
2 1 1 4 2 0 1 2 9 2 * 24
2 1 6 7 7 8 1 0 0 4 * 36
```

In [76]:
## This function adds given array and
## prints elements with given space
def add_row_and_print(arr, space):
  total = 0
  for i in range(len(arr)):
    total += arr[i]
    print(arr[i], end=space)
  print("*", end=space)
  print(total)

In [77]:
for i in range(row):
  add_row_and_print(matrix[i], ' ')

2 9 1 4 1 7 7 7 6 3 * 47
1 7 0 6 6 9 0 7 4 3 * 43
9 1 5 0 0 0 8 0 6 3 * 32
6 0 8 3 7 7 8 3 5 3 * 50
3 7 4 0 6 8 1 2 4 1 * 36
5 8 6 8 3 4 4 9 7 8 * 62
6 9 0 7 3 6 6 2 5 8 * 52
5 1 7 8 1 2 8 6 5 7 * 50
0 7 0 4 9 9 9 6 2 2 * 48
8 3 0 3 8 8 3 6 8 5 * 52

## Optional Problem #4
> Surround the matrix with asterisks (*) like the following:

```
***********************
* 5 1 5 6 2 7 8 6 4 2 *
* 2 3 7 0 6 9 2 4 2 8 *
* 0 0 8 6 4 1 7 2 7 6 *
* 0 1 9 0 0 8 5 8 6 8 *
* 4 1 0 5 5 7 4 6 4 4 *
* 6 0 2 0 1 9 8 2 3 9 *
* 4 0 4 8 1 7 6 6 2 1 *
* 1 7 6 8 5 4 1 9 6 7 *
* 6 4 7 9 9 3 8 2 6 1 *
* 9 0 6 4 0 1 0 6 9 9 *
***********************
```

In [78]:
for i in range(row+2):
  print("")
  for j in range(col+1):
    if (i == 0 or i == row+1):
      if (j == col):
        print("***", end='')
      else:
        print("**", end='')
    elif (j == 0):
      print("*",end=' ')
    elif (j == col):
      print(matrix[i-1][j-1], end=' *')
    else:
      print(matrix[i-1][j-1], end=' ')

***********************
* 2 9 1 4 1 7 7 7 6 3 *
* 1 7 0 6 6 9 0 7 4 3 *
* 9 1 5 0 0 0 8 0 6 3 *
* 6 0 8 3 7 7 8 3 5 3 *
* 3 7 4 0 6 8 1 2 4 1 *
* 5 8 6 8 3 4 4 9 7 8 *
* 6 9 0 7 3 6 6 2 5 8 *
* 5 1 7 8 1 2 8 6 5 7 *
* 0 7 0 4 9 9 9 6 2 2 *
* 8 3 0 3 8 8 3 6 8 5 *
***********************

## Optional Problem #5
> Calculate and Print the total of each row and column like the following

```
6  8  0  2  3  4  2  2  4  4  * 35 
3  7  5  8  9  7  4  8  6  0  * 57 
4  7  7  4  3  8  2  1  7  0  * 43 
7  8  1  3  0  8  4  7  9  2  * 49 
0  0  2  4  5  6  6  7  1  4  * 35 
3  7  0  0  7  3  3  2  1  6  * 32 
2  5  6  6  5  6  5  5  4  7  * 51 
9  2  7  5  5  9  2  4  7  9  * 59 
0  0  4  7  6  3  9  6  6  7  * 48 
0  1  6  5  2  7  4  1  6  4  * 36 
*  *  *  *  *  *  *  *  *  *  
34 45 38 44 45 61 41 43 51 43 
```

In [79]:
## This function loops through the matrix
## and adds all the values in column
## and returns a list of sum of individual columns
def add_col(matrix):
  column_add_array = []
  for j in range(col):
    total = 0
    for i in range(row):
      total += matrix[i][j]
    column_add_array.append(total)
  return column_add_array

In [80]:
col_total_array = add_col(matrix)

## configurable distance between two elements
space = '  '

for i in range(row+2):
  if (i == row):
    for j in range(col):
      print("*", end=space)
      if (j == col-1):
        print("")
  elif (i == row+1):
    for j in range(col):
      print(col_total_array[j], end=' ')
  else:
    add_row_and_print(matrix[i], space)

2  9  1  4  1  7  7  7  6  3  *  47
1  7  0  6  6  9  0  7  4  3  *  43
9  1  5  0  0  0  8  0  6  3  *  32
6  0  8  3  7  7  8  3  5  3  *  50
3  7  4  0  6  8  1  2  4  1  *  36
5  8  6  8  3  4  4  9  7  8  *  62
6  9  0  7  3  6  6  2  5  8  *  52
5  1  7  8  1  2  8  6  5  7  *  50
0  7  0  4  9  9  9  6  2  2  *  48
8  3  0  3  8  8  3  6  8  5  *  52
*  *  *  *  *  *  *  *  *  *
45 52 31 43 44 60 54 48 52 43