<a href="https://colab.research.google.com/github/nirav3/data690_nirav/blob/main/assignments/assignment_5/assignment_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment #5  
  * Professor: Dr. Jay Wang  
  * Student: Nirav Pancholi  
  * Date: 10/16/2021

In [1]:
import urllib.request
import zipfile
import pandas as pd

### Get data file from web URL

In [2]:
url = 'https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data.zip'
urllib.request.urlretrieve(url, 'college_score_card.zip')

('college_score_card.zip', <http.client.HTTPMessage at 0x7f241e62b750>)

### Unzip Files

In [3]:
with zipfile.ZipFile('college_score_card.zip', 'r') as zip_ref:
    zip_ref.extractall('Colleges')

### Load data

In [4]:
df = pd.read_csv("/content/Colleges/CollegeScorecard_Raw_Data/MERGED2017_18_PP.csv")
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1729) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
0  100654   100200  ...                       NaN            NaN
1  100663   105200  ...                       NaN            NaN
2  100690  2503400  ...                       NaN            NaN
3  100706   105500  ...                       NaN            NaN
4  100724   100500  ...                       NaN            NaN

[5 rows x 1986 columns]

In [28]:
print("Number of Rows in the Dataframe: ", df.shape[0])
print("Number of Columns in the Dataframe: ", df.shape[1])

Number of Rows in the Dataframe:  7112
Number of Columns in the Dataframe:  1986

In [27]:
df.tail()

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
7107  48312404   108163  ...                       NaN            NaN
7108  48387801  4223701  ...                       NaN            NaN
7109  48400201  4228101  ...                       NaN            NaN
7110  48778201  4221501  ...                       NaN            NaN
7111  49005401  4182601  ...                       NaN            NaN

[5 rows x 1986 columns]

In [7]:
df.sample(5)

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
3311    219949   348500  ...                       NaN            NaN
640     131061  2190400  ...                       NaN            NaN
3579    229957  2270800  ...                       NaN            NaN
6809  16884710   467313  ...                       NaN            NaN
2271    190956   644800  ...                       NaN            NaN

[5 rows x 1986 columns]

### Creating Smaller DataFrame to work on focused properties

In [8]:
df_small = df[['UNITID', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'ADM_RATE', 'UGDS', 'TUITIONFEE_IN', 'MN_EARN_WNE_P10']]
df_small.head()

   UNITID                               INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
0  100654             Alabama A & M University  ...        9857.0             NaN
1  100663  University of Alabama at Birmingham  ...        8328.0             NaN
2  100690                   Amridge University  ...        6900.0             NaN
3  100706  University of Alabama in Huntsville  ...       10280.0             NaN
4  100724             Alabama State University  ...       11068.0             NaN

[5 rows x 9 columns]

### Definition of the Columns:

1. **UNITID**: Unit ID for institution 
2. **INSTNM**: Institution name
3. **CITY**: City where the institute is located in
4. **STABBR**: State where the institute is located in
5. **ZIP**: ZIP code of the institute
6. **ADM_RATE**: Admission rate
7. **UGDS**: Enrollment of undergraduate certificate/degree-seeking students
8. **TUITIONFEE_IN**: In-state tuition and fees
9. **MN_EARN_WNE_P10**: Mean earnings of students working and not enrolled 10 years after entry

In [9]:
df_small.head(10)

   UNITID                               INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
0  100654             Alabama A & M University  ...        9857.0             NaN
1  100663  University of Alabama at Birmingham  ...        8328.0             NaN
2  100690                   Amridge University  ...        6900.0             NaN
3  100706  University of Alabama in Huntsville  ...       10280.0             NaN
4  100724             Alabama State University  ...       11068.0             NaN
5  100751            The University of Alabama  ...       10780.0             NaN
6  100760    Central Alabama Community College  ...        4440.0             NaN
7  100812              Athens State University  ...           NaN             NaN
8  100830      Auburn University at Montgomery  ...        8020.0             NaN
9  100858                    Auburn University  ...       10968.0             NaN

[10 rows x 9 columns]

In [10]:
df_small.tail(10)

        UNITID  ... MN_EARN_WNE_P10
7102  48154401  ...             NaN
7103  48305401  ...             NaN
7104  48312401  ...             NaN
7105  48312402  ...             NaN
7106  48312403  ...             NaN
7107  48312404  ...             NaN
7108  48387801  ...             NaN
7109  48400201  ...             NaN
7110  48778201  ...             NaN
7111  49005401  ...             NaN

[10 rows x 9 columns]

In [11]:
df_small.sample(10)

        UNITID  ... MN_EARN_WNE_P10
1712    171881  ...             NaN
998     146685  ...             NaN
5626    457749  ...             NaN
4218    373085  ...             NaN
4637    421771  ...             NaN
1090    150428  ...             NaN
6785  15468801  ...             NaN
3097    214801  ...             NaN
1376    159391  ...             NaN
1205    154129  ...             NaN

[10 rows x 9 columns]

### Find Universities to work with

In [12]:
df_small.query("STABBR == 'MD' and CITY == 'Baltimore'")

        UNITID  ... MN_EARN_WNE_P10
1451    161855  ...             NaN
1452    161864  ...             NaN
1453    161873  ...             NaN
1460    162283  ...             NaN
1462    162371  ...             NaN
1466    162654  ...             NaN
1473    162928  ...             NaN
1475    163046  ...             NaN
1477    163259  ...             NaN
1478    163268  ...             NaN
1480    163295  ...             NaN
1485    163453  ...             NaN
1487    163532  ...             NaN
1489    163578  ...             NaN
1491    163736  ...             NaN
1493    163815  ...             NaN
3004    212452  ...             NaN
4225    373784  ...             NaN
4762    434672  ...             NaN
5314    450076  ...             NaN
5834    461379  ...             NaN
6016    476601  ...             NaN
7006  43018403  ...             NaN

[23 rows x 9 columns]

In [13]:
df_small.query("STABBR == 'MD' and CITY == 'College Park'")

      UNITID  ... MN_EARN_WNE_P10
1479  163286  ...             NaN

[1 rows x 9 columns]

In [29]:
top_clg_md = ['University of Maryland-Baltimore County', 'Johns Hopkins University', 'Loyola University Maryland', 'University of Maryland-College Park']

df_top_md = df_small[df_small.INSTNM.isin(top_clg_md)]

In [30]:
df_top_md

      UNITID  ... MN_EARN_WNE_P10
1473  162928  ...             NaN
1475  163046  ...             NaN
1478  163268  ...             NaN
1479  163286  ...             NaN

[4 rows x 9 columns]

### Calculating Min, max and average In-State tuition

In [43]:
stat_dict = dict(df_top_md['TUITIONFEE_IN'].describe())

In [45]:
print("Minimum In-state tuition is ", stat_dict['min'])
print("Maximum In-state tuition is ", stat_dict['max'])
print("Average In-state tuition is ", stat_dict['mean'])

Minimum In-state tuition is  10399.0
Maximum In-state tuition is  52170.0
Average In-state tuition is  30411.75

### Find Colleges in Maryland, Virginia, Washington DC, Delaware and Pennsylvinia.

In [48]:
dmv_states = ['MD', 'VA', 'DC', 'DE', 'PA']

df_dmv_colleges = df_small[df_small.STABBR.isin(dmv_states)]

In [51]:
df_dmv_colleges.sample(10)

      UNITID  ... MN_EARN_WNE_P10
3073  214379  ...             NaN
3048  213598  ...             NaN
4276  377458  ...             NaN
2944  210784  ...             NaN
3700  233772  ...             NaN
4010  246071  ...             NaN
2943  210775  ...             NaN
1479  163286  ...             NaN
6349  485236  ...             NaN
4422  406495  ...             NaN

[10 rows x 9 columns]

### Compressing dataframe into csv

In [53]:
df_dmv_colleges.to_csv('/content/Five_States_Colleges.csv')